<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue todos</title>
    <style>
    .completed {
      text-decoration: line-through;
    }
 
    .empty {
        border-color: red;
    }
    </style>
</head>
<body>
    <div id="todo-app">
        <div>
          <input type="button" value="全部标为完成"/>
          <input type="text" placeholder="添加 todo" @keyup.enter="addTodo" v-model="newTodoTitle" v-bind:class="{empty: flag}">
          <span v-if="flag" style="color: red;">请输入字符</span>
        </div>
        <ul>
            <li v-for="todo in todos" :key="todo.id">
                <span v-bind:class="{completed: todo.completed}">{{ todo.title }}</span>
                <!-- 给函数传递一个参数，传递那个TODO对象，从而vue就知道我们要操作的对象了 -->
                <input type="button" value="标为完成" v-if="!todo.completed" @click="markAsComplete(todo)">
                <input type="button" value="标未完成" v-else @click="markAsUnComplete(todo)">

                <input type="button" value="删除" @click="removeTodo(todo)">
                <!-- 无法解决删除，保留撤销按钮的权利 -->
                <input type="text" placeholder="添加todo...">
            </li>
            <div v-if="hasRemovedTodo">
              <br>
              <input type="button" value="撤销" @click="revocations()">
            </div>

        </ul>
        <!-- end todo list -->
        <div>
          <span>剩余 3 项未完成 ---</span>
          <span>筛选：
            <input type="button" class="selected" value="全部">
            <input type="button" value="进行中">
            <input type="button" value="已完成">
            <input type="button" value="清除已完成">
            <input type="button" value="清除全部">
          </span>
        </div>
      </div>
    <script src="./node_modules/./vue/dist/vue.js"></script>
    <script>
        let id = 0;
        var app = new Vue({
            el: "#todo-app",
            data() {
                return {
                    todos: [
                        
                    ],
                    newTodoTitle: '',
                    flag: false,
                    removed: false,
                    removedTodos: null
                }
            },
            methods: {
                addTodo() {
                    if(this.count === 0) {
                        this.flag = true;
                        return;
                    }
                    this.todos.push({id: id++, title: this.newTodoTitle, completed: false});
                    this.newTodoTitle = '';
                    this.flag = false;
                },
                markAsComplete(todo) {
                  todo.completed = true;
                },
                markAsUnComplete(todo) {
                  todo.completed = false;
                },
                removeTodo(todo) {
                    // 获取被删除的位置
                    let pos = this.todos.indexOf(todo);
                    // 获取被删除的元素
                    this.removedTodos = {
                      pos: pos,
                      todo: this.todos.splice(pos,1)[0]
                    }
                },
                revocations() {
                  // 获取移除对象中的pos键对应的值
                    let pos = this.removedTodos.pos;
                    // 移除对象中的TODO
                    let restored = this.removedTodos.todo;
                    // 在指定的位置添加删除的元素，在哪被删除的，在哪将会被添加
                    this.todos.splice(pos, 0, restored);
                    this.removedTodos = null;
                }
            },
            computed: {
                    count() {
                        return this.newTodoTitle.length
                    },
                    // 只有存在被删除的TODO时，按钮才会被渲染
                    hasRemovedTodo() {
                      return !!this.removedTodos
                    }
                },
            
            
        })
    </script>
</body>
</html>