<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue todos</title>
    <style>
    .completed {
      text-decoration: line-through;
    }
 
    .empty {
        border-color: red;
    }
    .selected {
      color: red;
    }
    </style>
</head>
<body>
    <div id="todo-app">
        <div>
          <input type="button" value="全部标为完成" @click="markAllAsCompleted"/>
          <input type="text" placeholder="添加 todo" @keyup.enter="addTodo" v-model="newTodoTitle" v-bind:class="{empty: flag}">
          <span v-if="flag" style="color: red;">请输入字符</span>
        </div>
        <ul>
            
            <li v-for="todo in filteredTodos" :key="todo.id">
                <span v-bind:class="{completed: todo.completed}" >{{ todo.title }}</span>
                <!-- 给函数传递一个参数，传递那个TODO对象，从而vue就知道我们要操作的对象了 -->
                <input type="button" value="标为完成" v-if="!todo.completed" @click="markAsComplete(todo)">
                <input type="button" value="标未完成" v-else @click="markAsUnComplete(todo)">

                <input type="button" value="删除" @click="removeTodo(todo)">
                <input type="text" placeholder="编辑todo..." v-focus="true"  v-model="todo.title" @keyup.enter="editDone(todo)" @keyup.esc="cancelEdit(todo)">
            </li>
            <div v-if="hasRemovedTodo">
              <br>
              <input type="button" value="撤销" @click="revocations()">
            </div>

        </ul>
        <!-- end todo list -->
        <div>
          <span>剩余 <span style="font-weight: bold;">{{leftTodosCount}}</span> 项未完成 ---</span>
          <span>筛选：
            <input type="button" class="selected" value="全部" @click="intention='all'">
            <input type="button" value="进行中" @click="intention='ongoing'">
            <input type="button" value="已完成" @click="intention='finished'">
            <input type="button" value="清除已完成">
            <input type="button" value="清除全部">
          </span>
        </div>
      </div>
    <script src="./node_modules/./vue/dist/vue.js"></script>
    <script>
        let id = 0;
        var app = new Vue({
            el: "#todo-app",
            data() {
                return {
                    todos: [
                        
                    ],
                    newTodoTitle: '',
                    flag: false,
                    removed: false,
                    removedTodos: null,
                    intention: 'all' 
                }
            },
            methods: {
                addTodo() {
                    if(this.count === 0) {
                        this.flag = true;
                        return;
                    }
                    this.todos.push({id: id++, title: this.newTodoTitle, completed: false});
                    this.newTodoTitle = '';
                    this.flag = false;
                },
                markAsComplete(todo) {
                  todo.completed = true;
                },
                markAsUnComplete(todo) {
                  todo.completed = false;
                },
                markAllAsCompleted() {
                  this.todos.map((todo) => {
                    if(!todo.completed) {
                      todo.completed = true
                    }
                  })
                },
                removeTodo(todo) {
                    let pos = this.todos.indexOf(todo);
                    this.removedTodos = {
                      pos: pos,
                      todo: this.todos.splice(pos,1)[0]
                    }
                },
                revocations() {
                    let pos = this.removedTodos.pos;
                    let restored = this.removedTodos.todo;
                    this.todos.splice(pos, 0, restored);
                    this.removedTodos = null;
                }
            },
            // 局部自定义指令
            directives: {
              focus: {
                inserted: function(el) {
                  el.focus()
                }
              }
            },
            computed: {
                    count() {
                        return this.newTodoTitle.length
                    },
                    hasRemovedTodo() {
                      return !!this.removedTodos
                    },
                    leftTodos() {
                      return this.todos.filter(todo => !todo.completed);
                    },
                    leftTodosCount() {
                      return this.leftTodos.length
                    },
                    filteredTodos() {
                      // filer返回符合条件的todos
                      if (this.intention === 'ongoing') {
                        return this.leftTodos
                      } else if(this.intention === 'finished') {
                        return this.todos.filter(todo => todo.completed)
                      } else {
                        return this.todos;
                      }
                    }
                },

            
            
        })
    </script>
</body>
</html>